[Desktop Entry]
Name=balenaEtcher
Exec=/opt/balenaEtcher/balena-etcher-electron %U
Terminal=false
Type=Application
Icon=balena-etcher-electron
StartupWMClass=balenaEtcher
Comment=Flash OS images to SD cards and USB drives, safely and easily.
Categories=Utility;
